.footer{
    margin-top: -8vh;
    border: 2px solid blue;
}
.textFormat {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #5152C3;
}