@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400;1,600;1,700;1,800&display=swap');


.formlogin {
  min-width: 25%;
  min-height: 100vh;
  background: linear-gradient(#A5A6F6 80%, #E9E9F9 40%);
}