@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,800&display=swap');

.containerPrincipal {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  }

  /* CONTAINER TOP */

  .containerTop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    background: #7879F1;
    width: 100%;
    height: 5vh;
  }

  .flag{
  font-size: 25px;
  border-radius: 50%;
  border:  2px solid white;
  margin-right: 2vh;
  }

  /* CONTAINER MIDDLE */

  .title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .hiNeighbor {
    width: 40%;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #5152C3;
    text-transform: uppercase;
  }

  .iconHouse{
    font-size: 80px;
  }

  .houseIcon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100px;
    height: 100px;
    margin-top: 40px;
  }
  
  .login{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-top: -10vh;
  }
  .inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
    filter: drop-shadow(1px 3px 8px #5152C3);
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-weight: normal;
    text-decoration: inherit;
  }
  .inputs > input {
    width: 50%;
    border-radius: 20px;
    border: 1px solid #e1e2fd;
    background: #FFF8F5;
    padding: 10px;
  }
  
  input:focus{
    border: 2px solid #5152C3;
    outline: none;
  }
  .login2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
  }

  .rememberMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }

  .rememberMe p{
    width: 30%;
  }

  .textFormat {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: start;
    color: #5152C3;
}
  .loginBtn {
    font-family: 'Raleway', sans-serif;
    color: #5152C3;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    background: #F9E9E3;
    filter: drop-shadow(1px 3px 8px #5152C3);
  }

  .loginBtn:focus{
    border: 2px solid #5152C3;
    outline: none;
  }

  /* CONTAINER BOTTOM */

  .decoLinesContainer{
    display: flex;
    justify-content:space-between;
    flex-direction:column;
    min-width: 100%;
    min-height: 8vh;
    margin-top: -6rem;
  }
  .decoLinesContainer > div{
    border: 1px solid #e1e2fd;
    background: #e1e2fd;
    border-radius: 15px;
  }
  
  .decoLine1 {
    height: 0.1vh;
    }
  .decoLine2 {
    height: 0.3vh;
    }
  .decoLine3 {
    height: 0.5vh;
    }
  .decoLine4 {
    height: 0.7vh;
    }
  .decoLine5 {
    height: 0.9vh;
    }

  .containerBottom{
      display: flex;
      flex-direction: column;
      justify-content: center;    
      width: 300px;
      height: 150px;
    }
  .bottom{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
    height: 115px;
    text-align: center;

  }

  .bottomText{
    width: 300px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Raleway', sans-serif;
    color: #6969e9;
    font-size: 14px;
    font-weight: bold;
  }
  
  .registerButton {
    width: 300px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .registerText {
    font-family: 'Raleway', sans-serif;
    color: #6969e9;
    font-size: 12px;
    padding: 2px 8px 2px 8px;
    border: 1px solid #6969e9;
    border-radius: 30px 30px 30px 30px;
  }